# dependencies
node_modules/
.npm/
.yarn/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# local env files
.env.local
.env.*.local
.env

# typescript
*.tsbuildinfo

# Vercel
.vercel

# temporary files
tmp/
temp/
